:root{
    --text: #e6f0ff;
    --accent: #3bb0ff;
    --border: rgba(59, 176, 255, 0.3);
    --radius: 16px;
}

*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

html,
body{
    height: 100%;
    font-family: "Poppins", system-ui, sans-serif;
    background-color: #061126;
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 250px;
    height: auto;
    margin-bottom: 15px;
  }

h2{
    color: var(--accent);
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: -25px;
    text-shadow: 0 0 15px rgb(59, 176, 255, 0.4);
}

.form-card{
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 25px 25px;
    width: 100%;
    max-width: 380px;
    margin:0;
    box-shadow: 0 0 20px rgba(59, 176, 255, 0.3),
        inset 0 0 10px rgba(59, 176, 255, 0.2);
    backdrop-filter: blur(12px);
    transition: 0.4s ease;
}

.form-card:hover{
    box-shadow: 
    0 0 30px rgba(108, 140, 255, 0.6),
    inset 0 0 12px rgba(59, 176, 255, 0.3);
}

.form-card p{
    text-align: center;
}

label{
    display: block;
    text-align: left;
    font-size: 0.9rem;
    color: #a8c7ff;
    margin-bottom: 6px  ;
}

input{
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.08);
    margin-bottom: 16px;
    color: var(--text);
    font-size: 1rem;
    margin-bottom: 16px;
    transition: all 0.3s ease;
}

input:focus{
    border-color: var(--accent);
    box-shadow: 0 0 10px rgb(108, 140, 255, 0.4);
    outline: none;
}

input::placeholder{
    color:rgba(230,240,255,0.5);
    font-style: italic;
    transition: color 0.3s ease;
}

input:focus::placeholder{
    color: rgba(255, 255, 255, 1);
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(90deg, var(--accent), var(--accent-2));
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(108,140,255,0.4);
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 25px rgba(108, 140, 255, 0.6);
    filter: brightness(1.08);
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(25px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}